footer{
  font-family: Roboto, sans-serif;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #0283FF;
  color: white;
}

a{
  color: white;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}